*{margin: 0;padding: 0;}
.bannerbox{width: 1920px;height: 500px;margin: 0 auto;position: relative;}
.z-index{z-index: 1;}
.banner{display: block; width: 1920px;height: 500px;position: absolute;}

.bannerbox img:nth-child(1){background-color: yellow;}
.bannerbox img:nth-child(2){background-color: pink;}
.bannerbox img:nth-child(3){background-color: #00f;}
.dotleft{position: absolute;top: 200px;left: 20px; z-index: 11; width: 50px;height: 50px;background-color: #fff;}
.dotright{transform: rotate(180deg);position: absolute;top: 200px;right: 20px; z-index: 11; width: 50px;height: 50px;background-color: #fff;}
.dotbox{position: absolute;left:48%;bottom: 60px; z-index: 10;}
.dot{width: 20px;height: 20px;margin-left:20px;background-color: #f00;border: #000;border-radius: 50%;float: left;}
